<section id="summary">
    <h4>Summary</h4>
    <div class="tabbable tabs">
        <ul class="nav nav-pills" style="margin-bottom: 0;">
            <li class="active"><a href="#summary_files" data-toggle="tab">Files</a></li>
            <li><a href="#summary_keys" data-toggle="tab">Registry Keys</a></li>
            <li><a href="#summary_mutexes" data-toggle="tab">Mutexes</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="summary_files">
                {% if analysis.behavior.summary.files %}
                    <div class="well mono">
                    {% for file in analysis.behavior.summary.files %}
                        {{file}}<br />
                    {% endfor %}
                    </div>
                {% else %}
                    No files.
                {% endif %}
            </div>
            <div class="tab-pane fade" id="summary_keys">
                {% if analysis.behavior.summary.keys %}
                    <div class="well mono">
                    {% for key in analysis.behavior.summary.keys %}
                        {{key}}<br />
                    {% endfor %}
                    </div>
                {% else %}
                    No registry keys.
                {% endif %}
            </div>
            <div class="tab-pane fade" id="summary_mutexes">
                {% if analysis.behavior.summary.mutexes %}
                    <div class="well mono">
                    {% for mutex in analysis.behavior.summary.mutexes %}
                        {{mutex}}<br />
                    {% endfor %}
                    </div>
                {% else %}
                    No mutexes.
                {% endif %}
            </div>
        </div>
    </div>
</section>
